@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --dark: #1f2937;
  --white: #f9faf8;
  --blue: #3882f6;
  --shadow: #2d65c0;
  --light-grey: #e5e7eb;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  padding: 0px 300px;
}

.header h2 {
  color: var(--white);
  font-size: 24px;
  font-weight: 900;
}

.header-links {
  display: flex;
}

a {
  text-decoration: none;
  color: var(--light-grey);
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark);
  padding: 150px 300px;
}

.hero-content {
  max-width: 600px;
}

.hero-content h2 {
  color: var(--white);
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.hero-content p {
  color: var(--light-grey);
  max-width: 500px;
  font-size: 18px;
  margin: 16px 0 20px;
}

.hero-image-container {
  overflow: hidden;
  width: 700px;
  height: 275px;
}

button {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
  padding: 6px 32px;
  border-radius: 12px;
  border: none;
  box-shadow: 3px 3px 2px var(--shadow);
}
.random-info {
  margin: 0;
  padding: 25px 300px 125px;
}

.random-info h2 {
  text-align: center;
  color: var(--dark);
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 75px;
}

.random-info-container {
  display: flex;
  justify-content: center;
  gap: 65px;
}

.random-info-card {
  max-width: 250px;
  text-align: center;
}

.random-info-image {
  overflow: hidden;
  border-radius: 25px;
  border: 3px solid var(--blue);
  width: 250px;
  height: 250px;
}

.quote-container {
  background-color: var(--light-grey);
  padding: 150px 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  max-width: 800px;
}

.quote-text {
  color: var(--dark);
  font-size: 36px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0;
  margin: 0 auto;
}

.quote-credit {
  color: var(--dark);
  font-size: 30px;
  font-weight: 700;
  padding: 0;
  margin: 12px 24px 0px 0px;
  text-align: end;
}

.action-container {
  background-color: var(--white);
  margin: 0;
  padding: 100px 350px;
}

.action-card {
  background-color: var(--blue);
  padding: 50px 80px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-text h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--white);
  margin: 0;
}

.action-text p {
  max-width: 400px;
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
  margin: 12px 0 0 0;
}

.action-button {
  padding: 0 60px;
}

.action-button button {
  padding: 8px 48px;
  border: 3px solid var(--white);
  box-shadow: 3px 3px 2px var(--white);
}

.footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
