@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 0px 300px;
}

.header h2 {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.header-links {
  display: flex;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
}
